.section {
    height: 100vh;
    box-shadow: var(--shadow2);
}
/* -----------Home section ------------------ */
.hero {
    /* background-image: url(https://images.pexels.com/photos/2317423/pexels-photo-2317423.jpeg?cs=srgb&dl=animal-ecology-environment-2317423.jpg&fm=jpg); */
    background-image: url(https://images.pexels.com/photos/1470168/pexels-photo-1470168.jpeg?cs=srgb&dl=background-cactus-decor-1470168.jpg&fm=jpg);
    background-size: cover;
    background-position: center;
}

#landingText {
    padding: 5vw;
    /* background-color: rgba(135,158,130, .45); */
    background-color: rgba(83,116,77, .45);
    color: var(--wht);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
}

/* ----------- About section -------------------- */
#about_section {
    background-color: var(--wht);
}

.headshot {
    box-shadow: var(--shadow2);
    border-radius: var(--radius);
}

.quote {
    background-color: rgba(83,116,77, .45) !important; 
    color: var(--wht) !important;
}


/* ----------- Skills section -------------------- */
/* ----------- Projects section -------------------- */
/* ----------- Contact section -------------------- */
#contact_section {
    background-color: var(--pd2);
}

.contact_header {
    color: var(--wht);
}

.contact_form {
    background-color: var(--pl2);
    border-radius: var(--radius);
}

.custom_input {
    background-color: var(--pl1) !important;
    box-shadow: inset var(--insetShadow);
    color: var(--gr4) !important;
}

.send_email {
    border: none !important;
    background-color: var(--pri) !important;
    color: var(--wht) !important;
}

.send_email:hover {
    background-color: var(--pd1) !important;
}


/* ----------- KeyFrames -------------------- */
